{% set prefix_s = prefix | trim('/') ~ '/' %}{% set s_prefix_s = ( '/' ~ prefix | trim('/') ~ '/' ) | replace ("//","/") %}{% set ulp_s = ulp | trim('/') ~ '/' %}{% set server_prefix = ( server | replace("//","##") ~ '/' ~ prefix ~ '/' ) | replace("///","/") | replace("//", "/") | replace("##","//") %}{% set prefix_ulp = ( '/' ~ prefix ~ '/' ~ ulp ~ '/' ) | replace("///","/") | replace("//", "/") %}{% set server_prefix_ulp = ( server | replace("//","##") ~ '/' ~ prefix ~ '/' ~ ulp ~ '/' ) | replace("///","/") | replace("//", "/") | replace("##","//") %}<!DOCTYPE html>
<html>
  <head>
    <title>
      FUSS upload page
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- (A) CSS + JS -->
    <link rel="stylesheet" href="{{ s_prefix_s }}static/upload.css"/>
    <link rel="stylesheet" href="{{ s_prefix_s }}static/index.css"/>
    <script src="{{ s_prefix_s }}template/upload.js"></script>
    <script>
        function lastmod(elem){
            tc = "lastmod=";
            for (var x=0; x < elem.files.length; x++) {
                tc += `${Math.trunc(elem.files[x].lastModified / 1000)},`
            }
            document.cookie = tc;
            // For a single file:
            //document.cookie = `lastmod=${elem.files[0].lastModified}`
        }
    </script>
  </head>
<!--
server = "{{ server }}"
prefix = "{{ prefix }}"
ulp = "{{ ulp }}"
-->
  <body>
    <!-- (B) FILE DROP ZONE -->
    <div id="upzone">
      Drop Files Here
    </div>

    <!-- (D) FALLBACK -->
    <form id="upform" action="{{ server_prefix_ulp }}" method="post" enctype="multipart/form-data">
      <br/>
      <input type="file" name="file" multiple accept="*" oninput="lastmod(this);" required>
      <input type="submit" value="Upload File">
    </form>

    <!-- (C) UPLOAD STATUS -->
    <div id="hiddenfirst">
        <input id="upstatus" class="toggle" type="checkbox" checked><label for="upstatus" class="lbl-toggle" tabindex="0">Upload status</label>
        <div id="upstatus" class="content">
        <div class="content-inner" id="upstat">
        </div> <!-- content-inner -->
        </div> <!-- content -->
    </div>
    <script src="{{ s_prefix_s }}static/index.js"></script>
  </body>
</html>
